.product-modal {
  .ant-modal-body {
    margin-top: 15px;
  }
  .ant-modal-title {
    text-align: center;
    font-size: 18px;
  }
  .ant-form-item-label label {
    font-weight: 600;
  }
  .ant-form-item {
    margin-bottom: 12px;
  }
  .image-uploader {
    flex-direction: row;
    .input-field {
      width: auto;
    }
    .ant-image {
      border-radius: 4px;
      img {
        width: 100px;
        border-radius: 4px !important;
      }
    }
  }
  .ant-picker.ant-picker-outlined {
    width: 100%;
  }
}
