.d-flex {
  display: flex;
}
.gap10 {
  gap: 10px;
}
.gap5 {
  gap: 5px;
}
.d-flex-center {
  display: flex;
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
