.order-admin {
  .title {
    border-bottom: 1px solid #d8d8d8;
  }

  .type-delivery {
    text-transform: uppercase;
    color: $color-primary;
  }

  .order-status {
    .order-code {
      cursor: pointer;
      font-size: 16px;
    }

    >* {
      line-height: 1.8;
    }
  }
}