.transaction-history {
  h2.title {
    border-bottom: 1px solid #d8d8d8;
  }
  .transaction-search {
    .transaction-search_form {
      padding-top: 20px;
      .ant-form-item {
        .ant-picker {
          width: 100%;
        }
      }
      .ant-btn {
        padding: 4px 24px;
        &.export-btn {
          background-color: #1d6f42;
        }
      }
    }
  }
}
