// font
$sora: "Sora";

@font-face {
  font-family: $sora;
  src: url("resources/fonts/Sora/Sora-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: $sora;
  src: url("resources/fonts/Sora/Sora-Medium.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: $sora;
  src: url("resources/fonts/Sora/Sora-SemiBold.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: $sora;
  src: url("resources/fonts/Sora/Sora-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
